/* Хедер */

.header {
    border-bottom: 1px solid $headerLine;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.flex-head {
    @extend %centeredFlex;
}

.flex-head__logo-header {
    color: $colorBlack;
    text-decoration: none;
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.flex-head__logo-item {
    color: $accent-color;
}

/* Навігація */

.site-nav {
    margin-left: 93px;
}

.site-nav__list {
    display: flex;
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: $title-text-colot;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    
        transform: scaleX(0);
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
        transform: scaleX(100%);
    }
    &:hover,
    &:focus {
        color: $accent-color;
    }

}


.site-nav__link--accent {
    color: $accent-color;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    
        transform: scaleX(100%);
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
    }
}


/* Контакти */
.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav__item:not(:last-child) {
    margin-right: 50px;
}

.contact-nav__link {
    @extend %centeredFlex;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: $primary-text-color;
    fill: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
}

.contact-nav__icon {
    margin-right: 10px;
}