/* Постійні клієнти */
.regular-customers {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.regular-customers__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-colot;

    @media screen and ( min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.regular-customers__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.regular-customers__item {
    width: calc((100% - 60px) / 2);
    
    @media screen and (max-width: 1199px) {
        margin: 15px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 90px)/3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px)/6);
        &:not(:last-child) {
        margin-right: 30px;
        }
    }
    
}

.regular-customers__link {
    @extend %centeredFlex;
    height: 92px;
    border: 1px solid $teamSocialFill;
    border-radius: 4px;
    fill: $teamSocialFill;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
        fill: $accent-color;
    }
}